/.idea
/src/fsbridge/x64/Debug/fsbridge.exe
/src/fsbridge/x64/Debug/fsbridge.ilk
/src/fsbridge/x64/Debug/fsbridge.pdb
/src/fsbridge/fsbridge/x64/Debug
/src/fsbridge/.vs/fsbridge/v16/ipch/AutoPCH/a56fbe308cae1e88
/src/fsbridge/.vs/fsbridge/v16/Browse.VC.opendb
/src/fsbridge/.vs/fsbridge/v16/Browse.VC.db-wal
/src/fsbridge/.vs/fsbridge/v16/Browse.VC.db-shm
/src/fsbridge/.vs/fsbridge/v16/Browse.VC.db
/src/fsbridge/.vs/fsbridge/v16/.suo
/src/fsbridge/.vs/fsbridge/v16/ipch/AutoPCH/b48019ce0e08446d/SERIAL.ipch
src/fsbridge/.idea/
src/arduino/.vscode/
src/fsbridge/.vs/
src/fsbridge/fsbridge/x64/
src/fsbridge/x64/Release
